# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/compiler.xml
.idea/dbnavigator.xml
.idea/dictionaries/
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
data-transmitter/.idea/
data-transmitter/Data Transmitter.iml
data-transmitter/src/main/resources/
data-transmitter/target/
kapua-iot-gateway-simulation-scm.iml
webapp-angular/.idea/
webapp-angular/lib/src/sections/map/styles/
