:host
  .hero-body
    padding 0
  .hero
    background-color #252525
  #companyName
    margin-bottom 20px
    margin-top 20px
    padding-left 10px
    color #e6e8ed
    span
      font-weight bolder
  #badge
    margin-bottom 20px
    padding-left 10px
    & > span
      background-color lightgray
      color black
  .wrapper
    margin 0 auto
    text-align center
    font-style italic

:host .table, :host .table td, :host .table tr, :host .table th
  color whitesmoke
  text-align center
  background-color #383a3d
  border-color black
  word-wrap break-word
  hyphens auto
  -moz-hyphens auto
  -ms-hyphens auto
  -webkit-hyphens auto